<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav>
            <a href="{{ path('app_post_index') }}">Inicio</a>

            {% if app.user %}
                <a href="{{ path('app_post_new')}}">Crear Publicación</a>
                <a href="{{ path('app_user_show', {'id': app.user.id}) }}">Mi perfil</a>
            {% else %}
                <a href="{{ path('app_login') }}">Iniciar sesión</a>
                <a href="{{ path('app_register') }}">Registrarse</a>
            {% endif %}
        </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
