{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.content) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.image) }}
    </div>
    {% if form.visible is defined %}
    <div class="form-group">
        {{ form_label(form.visible) }}
        {{ form_widget(form.visible) }}
        {{ form_errors(form.visible) }}
    </div>
    {% endif %}
    <button class="btn btn-primary" type="submit">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
